@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --heading-color: #b62e83;
}
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-container {
  margin: 15px 50px 10px 60px;
  max-width: 1400px;
}

.heading {
  background: var(--heading-color);
  text-transform: uppercase;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  margin: 0;
}

/* card style*/
.card {
  margin-top: 20px;
  display: flex;
}

input[type="checkbox"] {
  background-color: #fff;
  border: 2px solid black;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.card h4 {
  width: 150px;
}
.card div {
  text-align: center;
  width: 200px;
  text-align: left;
}
label {
  text-transform: capitalize;
  padding-left: 20px;
}
/* personal information */
#personal-information {
  margin-top: 20px;
  width: 100%;
}

.title {
  margin: 20px 0 20px 0;
  display: flex;
}
.title h4 {
  width: 150px;
  text-align: left;
}
.title div {
  text-align: center;
  width: 200px;
  text-align: left;
}
.title .other-input {
  margin-left: 50px;
  width: 400px;
  height: 40px;
}
.title .other-input input[type="text"] {
  width: 400px;
  height: 30px;
  border: 1px solid black;
}

/* full name */

.full-name {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 155px repeat(32, 1fr);
  box-sizing: border-box;
}
.full-name div input {
  height: 30px;
  margin-top: 10px;
  border: 1px solid black;
}

.full-name div input[type="text"] {
  width: 38px;
}

/* card name */
.card-name p {
  padding: 10px 0 10px 0;
  margin: 0;
}

.card-name-grid {
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(19, 1fr) 3fr 2fr;
}

.card-name-grid input[type="text"] {
  width: 51px;
  height: 30px;
  border: none;
  border: 1px solid black;
}

/* date of birth */

.date-of-birth {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 150px repeat(8, 53px) 200px 200px 200px 200px;
}
.date-of-birth div input[type="text"] {
  width: 52px;
  height: 30px;
  border: none;
  border: 1px solid black;
}
.date-of-birth div .last {
  width: 200px;
  height: 30px;
  border: none;
  border: 1px solid black;
}

/* father and mother name */
.parent {
  display: grid;
  grid-template-columns: 150px repeat(32, 1fr);
}
.parent div input[type="text"] {
  width: 38px;
}
.parent div input {
  height: 30px;
  margin-top: 10px;
  border: none;
  border: 1px solid black;
}

/* nationality */

.nationality {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 150px repeat(17, 50px) auto;
}

.nationality div input[type="text"] {
  width: 49px;
  height: 30px;
  border: none;
  border: 1px solid black;
}
.nationality div input[type="email"] {
  width: 310px;
  height: 30px;
  border: none;
  border: 1px solid black;
}
/* passport number */
.passport-number {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 250px 0.4fr 1fr;
}

.passport-number .left {
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.passport-number .left input[type="text"] {
  width: 36px;
  height: 30px;
  border: 1px solid black;
}
.passport-number .right {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 350px repeat(8, 1fr);
}

.passport-number .right input[type="text"] {
  width: 55px;
  height: 30px;
  border: none;
  border: 1px solid black;
}

.right h4 {
  text-align: right;
  margin-right: 50px;
}
.gap {
  margin-left: 8px;
}

/* passport expiry date */

.passport-expiry-date {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 150px 350px 300px 600px;
}
.passport-expiry-date .left {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.passport-expiry-date .left input[type="text"] {
  width: 40px;
  height: 30px;
  border: none;
  border: 1px solid black;
}

.passport-expiry-date .right {
  display: grid;
  grid-template-columns: 250px 400px;
}
.passport-expiry-date .right input[type="text"] {
  width: 350px;
  height: 30px;
  border: 1px solid black;
}

.black {
  height: 30px;
  width: 30px;
  background: black;
  margin-left: 150px;
}

/* passport issue */

.passport-issue {
  display: grid;
  grid-template-columns: 700px 700px;
}

.passport-issue .left {
  display: grid;
  grid-template-columns: 150px 550px;
}
.passport-issue .left input[type="text"] {
  width: 80%;
  height: 30px;
  border: 1px solid black;
}
.passport-issue .right {
  display: grid;
  grid-template-columns: 300px repeat(9, 1fr);
}
.passport-issue .right input[type="text"] {
  width: 42px;
  height: 30px;
  border: 1px solid black;
}
/* tin */

.tin {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.tin .left {
  display: grid;
  grid-template-columns: 150px repeat(12, 1fr);
}
.tin .left input[type="text"] {
  width: 99%;
  height: 30px;
  border: 1px solid black;
}

.tin .right {
  display: grid;
  grid-template-columns: 150px repeat(17, 1fr);
}

.tin .right input[type="text"] {
  width: 98%;
  height: 30px;
  border: 1px solid black;
}

::placeholder {
  font-size: 20px;
}

/* qualification */

.qualification {
  margin-top: 15px;
  display: flex;
}
.qualification h4 {
  width: 300px;
  text-align: left;
}
.qualification div {
  text-align: center;
  width: 200px;
  text-align: left;
}
.qualification.other-input {
  margin-left: 50px;
  width: 400px;
  height: 40px;
}
.qualification .other-input input {
  height: 30px;
}
.other-input input[type="text"] {
  width: 185px;
  height: 30px;

  border: 1px solid black;
}

/* personal details */

#personal-details {
  margin-top: 15px;
}

.personal {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.personal h4 {
  width: 150px;
}

/* employee nature */

.employee-nature {
  margin-top: 15px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 700px 700px;
}

.employee-nature .left {
  display: grid;
  grid-template-columns: 150px 550px;
}

.employee-nature .right {
  display: flex;
  grid-template-columns: 200px 500px;
}
.employee-nature .right input[type="text"] {
  width: 460px;
  height: 30px;
  border: 1px solid black;
}
.employee-nature .left input[type="text"] {
  width: 500px;
  height: 30px;
  border: 1px solid black;
}
